{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <span class="logo">Bookmarks</span>
    {% if request.user.is_authenticated %}
    <ul class="menu">
        {% if section == "dashboard" %}
        <li class="selected">
            {% else %}
        <li>
            {% endif %}
            <a href="{% url 'dashboard' %}">My dashboard</a>
        </li>
        {% if section == "images" %}
        <li class="selected">
            {% else %}
        <li>
            {% endif %}
            <a href="#">Images</a>
        </li>
        {% if section == "people" %}
        <li class="selected">
            {% else %}
        <li>
            {% endif %}
            <a href="#">People</a>
        </li>
    </ul>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name|default:request.user.username }},
        <form method="post" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit"
                style="background: none; border: none; color: blue; cursor: pointer; text-decoration: underline;">
        Logout
        </button>
        </form>
        {% else %}
        <a href='/account/login'>Log-in</a>
        {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>